<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
      <httpRuntime
        executionTimeout="90"
        maxRequestLength="2147483647"
        useFullyQualifiedRedirectUrl="false"
        minFreeThreads="8"
        minLocalRequestFreeThreads="4"
        appRequestQueueLimit="100"
        enableVersionHeader="true"
        />
      <globalization uiCulture="es" culture="es-MX"/>
      <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <appSettings>
        <!--VIDNOTI Desa NOTICOM-->
        <!--<add key="cnAztMusUser" value="M2P2vfiOlv1h9Hxz/ZlTIw=="/>
        <add key="cnAztMusPwd" value="vrYzCUI9+aGzno9hpyqw4Q=="/>
        <add key="cnAztMusInstance" value="upXT8mbhLK9i1WDrSGbNdg=="/>-->
        <!--VIDNOTI PROD NOTICOM-->
        <!--<add key="cnAztMusUser" value="M2P2vfiOlv1h9Hxz/ZlTIw=="/>
		    <add key="cnAztMusPwd" value="vrYzCUI9+aGzno9hpyqw4Q=="/>
		    <add key="cnAztMusInstance" value="YRt9JLCQS6tzf5UKdR0YAg=="/>-->
        <!--VIDNOTI TVAQA-->
        <add key="cnAztMusUser" value="M2P2vfiOlv1h9Hxz/ZlTIw=="/>
		    <add key="cnAztMusPwd" value="vrYzCUI9+aGzno9hpyqw4Q=="/>
		    <add key="cnAztMusInstance" value="XBx9AmPbjVeydOokSbsbfQ=="/>

        <!--PGP-->
        <add key="LlavePrivada" value="/tOa1NM3gqqZQLX62kQ5pVD2WZrKrtRDwyX96F99iZY="/>
        <add key="ServerPath" value="TzdZek1qrw7NguKIOSVvGdIeXHwgTjq0J07bMKz7Q3U="/>
        <!--<add key="ServerPath" value="ZrcVdpvI0DUbn4qkL1i7Q2EEsswSSka/uPMZlHMYuEs="/>-->
        <!--Proxy para hechos tv-->
        <add key="webProxy" value="zV1Znp4SIypYlAO+AiM92fUInUIm3xh48HCDNEITxob1YeDo/WS0FNknEPg4YMy6"/>
        <add key="proxyUser" value="AWZD2N3PpIDuwNSnEYTQiw=="/>
        <add key="proxyPswd" value="y5NIA5RPciGylqPQYEvAG5+0Xk1fsHg0BUBOT0tNnlE="/>
        <add key="proxyDomain" value="/RE63EydyQwBherPkUY+OQ=="/>
        <!--Direccion correo Errores-->
        <add key="AddressMailTo" value="Ow/trRoH6Ig6wRNQ7Q/rf6OngKhBuycoe4fMs13DU5Q="/>
        <add key="NumeroUsuario" value="rKStscVBLW/4STepJjjQhQ=="/>
        <add key="SendMailActive" value="h/85LqVkwYuXMkA7K4nPtQ=="/>
        <add key="HostMail" value="x/nFQur5rEkRaiZxcg1ltA=="/>
        <!--Registro de codificacion-->
        <add key="Registro" value="FGsnBYV2rvjcaKwu36gwOi8qCrBCerLHagGMwkHdkk8="/>

        <!--Fast-->
        <!--Productivo -->
        <add key="fastInstance" value="i/PP4ea3tVM5xoWrW4jb3eqyXWdrepVZiGyY79C1WYw="/>
        <!--FastPre-->
        <add key="fastInstancePre" value="sSkcNlasMksySnXMKEYiow=="/>
        <add key="fastView" value="2cKeg8+p5t4FYPZ+OIw+tfTsvJ/CY3C6a5Jtb+3mbzU="/>
        <add key="fastPort" value="atK6aOjWHfEj8Ybe4MSKYQ=="/>
        <!-- end Fast -->
        <add key="fastExcluirMaterial" value="7QdDFuMjE0OlZY5OzDy2dg=="/>
        <add key="eliminaRepetidos" value="0"/>
        <!-- Url's de solicitud permitidas, deben ir separadas por coma -->
        <add key="aceptedUrls" value="5hZwKvBP2xEU14Qh2W89Q9dayu7o5LHWZg4DPKzD8JHZCnp/KitgU5Eg2o4RvxYnQ/sTzkndHysI6tgpBRgJQgxAAKG0IdeYZDJ9C/40V3c="/>
        
        <add key="InewUser" value="hGeILoCX/sN6aB+8tdd5GQ=="/>
        <add key="InewPwd" value="Sw2mdse2Xq+8PaApgSvUXA=="/>
        <add key="LstAgenVig" value="wCq+9lxLAoVgZip9pbJy5g=="/>
        <add key="AP" value="M6hcvL7z2T9P6OQSxMhAcw=="/>
        <add key="REUTERS" value="cOO9wCeQEpFsaQAlY/9JzQ=="/>
        <add key="CNN" value="h/85LqVkwYuXMkA7K4nPtQ=="/>
        <add key="SeccionesMediaGrid" value="anVJzm5zgRF4pRgB72JhvA=="/>
        <add key="scriptpath" value="C:\\Temp\\Internet\\scriptwinscp.txt"/>
        <add key="subearchivo" value="C:\\Temp\\Internet\\"/>
        <add key="destinoarchivo" value="Z:\\"/>
        <!--Produccion-->
        <add key="ftpinternet" value="xl9RZq1KGp7Tmc3qPPSQ2w=="/>
        <add key="ftpinternetuser" value="EXNHyH8/dyPbW0T9Ah/yMA=="/>
        <add key="ftpinternetpassw" value="G5hyhB8IiqpHYr9rkH1TAA=="/>
        <add key="ftpinternetrutalocal" value="s+ZOllsMR7ulfPnJbrgHYSGPJlmDONx2eer4dagp9m0="/>
        <add key="ftpinternetrutaremota" value="ADwZSxftc3YxIGru4fiCmA=="/>
        <!--Desarrollo-->
        <!--<add key="ftpinternet" value="6b0qFXRIgvRuSnRbnsikTg=="/>
        <add key="ftpinternetuser" value="wTP39ntzVOExKfO5gQwDag=="/>
        <add key="ftpinternetpassw" value="cXQHP+IUrt16mF5mnqCPiQ=="/>
        <add key="ftpinternetrutalocal" value="s+ZOllsMR7ulfPnJbrgHYSGPJlmDONx2eer4dagp9m0="/>
        <add key="ftpinternetrutaremota" value="ADwZSxftc3YxIGru4fiCmA=="/>-->
        <!--Usuarios con Permisos con Espectaculos-->
        <add key="UsuarioPermisosEspectaculos" value="pj7WJZDdzX8DXGmQEmo+jA=="/>
        <!-- Produccion -->
        <add key="RutaArchivosTemporal" value="OElT2ZXc4Q8IfdzQnJD90Pc7fgUruaG9BPJ2DjKGTy8="/>
        <!-- Desarrollo -->
        <!--<add key="RutaArchivosTemporal" value="O2HHWMbtT30/WwylyNhigN4kIAG1aI45hVFiOGqKgee5Ar/JnFukqy1DDSKEJW1Q"/>-->
        <add key="RutaArchivosServer" value="ag4vGZP3wq+3Isxj7RV6Tbmn0oEisgjlzOV3deuqQRgSFLS5sRS7SudUeeD+Fg9Q"/>

        <add key="RutaArchivosTemporalFiaAdj" value="ti16ABR/7o5gXEJ1vUwY1K44uQxNQFS1AkgCRjpQ/xY="/>

        <add key="RutaArchivosServerFiaAdj" value="ag4vGZP3wq+3Isxj7RV6TQQVxpFG3EyhmL2/G8NHOBr5ynMkdhDLA9g2Ge8rfKF1"/>
        <add key="SinImagen" value="s4z5NXGr4/MZRnO5rORikGVyAwpgz74Kqx6fiOpx76UUVRHIZyGebLyiGLdav5Aq"/>
        
    </appSettings>
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService_RecuperaVideoSoap" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" messageEncoding="Text"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="WebService_ManejadorErroresSoap" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" messageEncoding="Text"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="WebService_FIATubeSoap" closeTimeout="00:01:00"
                    openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" messageEncoding="Text"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="WebService_ManejadorLogsSoap" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>

      
        <client>
            <endpoint address="http://localhost:6231/FIATubeHtml5/ServicesAsmx/WebService_RecuperaVideo.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService_RecuperaVideoSoap"
                contract="recuperaVideo.WebService_RecuperaVideoSoap" name="WebService_RecuperaVideoSoap" />
            <endpoint address="http://localhost:6231/FIATubeHtml5/ServicesAsmx/WebService_ManejadorErrores.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService_ManejadorErroresSoap"
                contract="wsManejadorErrores.WebService_ManejadorErroresSoap"
                name="WebService_ManejadorErroresSoap" />
            <endpoint address="http://localhost:6231/FIATubeHtml5/ServicesAsmx/WebService_FIATube.asmx"
                behaviorConfiguration="WebService_FIATubeSoapClient" binding="basicHttpBinding"
                bindingConfiguration="WebService_FIATubeSoap" contract="wsFiatube.WebService_FIATubeSoap"
                name="WebService_FIATubeSoap" />
            <endpoint address="http://localhost:6231/FIATubeHtml5/ServicesAsmx/WebService_ManejadorLogs.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService_ManejadorLogsSoap"
                contract="wsLogs.WebService_ManejadorLogsSoap" name="WebService_ManejadorLogsSoap" />
        </client>
      
      <behaviors>
        <endpointBehaviors>
          <behavior name="WebService_FIATubeSoapClient">
           
            <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          </behavior>
        </endpointBehaviors>
      </behaviors>
     
      
    </system.serviceModel>
  <system.web.extensions>
    
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647">
          <converters>
          </converters>
        </jsonSerialization>
      </webServices>        
      </scripting>
   
  </system.web.extensions>
</configuration>
